<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Calendar App | Page Name</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chelsea+Market|Roboto">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Dummy Data Vue -->
    <!-- <script src="/vueobjects/specify_availability_2.js" defer></script> -->
    <!-- Database Data Vue -->
    <script src="/vueobjects/specify_availability.js" defer></script>
</head>

<body>
    <!-- Header contains Logo, Navigation Bar with tabs: Event (Users) Account-->
    <header>
        <div id="logo">Calendar App</div>
        <div id="navigation">
            <div class="max-content-width">
                <ul>
                  </ul>
            </div>
        </div>
    </header>

    <main id="vue_event">
        <div class="text-align-center" v-if="event_name===''"><b>Loading data...</b></div>
        <h2>Event Plan Details</h2>
        <hr/>

        <div id="event-details">
            <div class="labelled-text-view">
                <label for="event_name" class="labelled-text-view-label">Event Name</label>
                <!-- <input type="text" class="labelled-text-entry-input" name="event_name" v-model="event_name"/> -->
                <span class="labelled-text-view-text" name="event_name">{{event_name}}</span>
            </div>
            <div class="labelled-text-view">
                <label for="event_descr" class="labelled-text-view-label">Description</label>
                <!-- <textarea rows="4" cols="60" class="labelled-text-entry-input" name="event_descr" v-model="event_descr"></textarea> -->
                <span class="labelled-text-view-text" name="event_descr">{{event_descr}}</span>
            </div>

            <div class="labelled-text-view address-top">
                <label for="event_location" class="labelled-text-view-label">Location</label>
                <!-- <textarea rows="4" cols="60" class="labelled-text-entry-input" name="event_descr" v-model="event_descr"></textarea> -->
                <span class="labelled-text-view-text" name="event_location">{{event_addr_street}}</span>
            </div>

            <div class="labelled-text-view address" v-if="event_addr_street_2 !== ''">
                <label for="event_location" class="labelled-text-view-label"></label>
                <!-- <textarea rows="4" cols="60" class="labelled-text-entry-input" name="event_descr" v-model="event_descr"></textarea> -->
                <span class="labelled-text-view-text" name="event_location">{{event_addr_street_2}}</span>
            </div>

            <div class="labelled-text-view address" v-if="event_addr_city !== ''">
                <label for="event_location" class="labelled-text-view-label"></label>
                <!-- <textarea rows="4" cols="60" class="labelled-text-entry-input" name="event_descr" v-model="event_descr"></textarea> -->
                <span class="labelled-text-view-text" name="event_location">{{event_addr_city}}</span>
            </div>

            <div class="labelled-text-view address" v-if="event_addr_state !== '' && event_addr_postcode !== ''">
                <label for="event_location" class="labelled-text-view-label"></label>
                <!-- <textarea rows="4" cols="60" class="labelled-text-entry-input" name="event_descr" v-model="event_descr"></textarea> -->
                <span class="labelled-text-view-text" name="event_location">{{event_addr_state + " " + event_addr_postcode}}</span>
            </div>

            <div class="labelled-text-view address" v-if="event_addr_state !== '' && event_addr_postcode == ''">
                <label for="event_location" class="labelled-text-view-label"></label>
                <!-- <textarea rows="4" cols="60" class="labelled-text-entry-input" name="event_descr" v-model="event_descr"></textarea> -->
                <span class="labelled-text-view-text" name="event_location">{{event_addr_state}}</span>
            </div>

            <div class="labelled-text-view address" v-if="event_addr_state == '' && event_addr_postcode !== ''">
                <label for="event_location" class="labelled-text-view-label"></label>
                <!-- <textarea rows="4" cols="60" class="labelled-text-entry-input" name="event_descr" v-model="event_descr"></textarea> -->
                <span class="labelled-text-view-text" name="event_location">{{event_addr_postcode}}</span>
            </div>

            <div class="labelled-text-view address-bottom" v-if="event_addr_country !== ''">
                <label for="event_location" class="labelled-text-entry-label"></label>
                <!-- <textarea rows="4" cols="60" class="labelled-text-entry-input" name="event_descr" v-model="event_descr"></textarea> -->
                <span class="labelled-text-view-text" name="event_location">{{event_addr_country}}</span>
            </div>
        </div>

        <!-- <div id="event-details">
            <table style="text-align:center">
                <tr>
                    <td>
                        <p class="labelled-text-view-label">Name</p>
                    </td>
                    <td>
                        <p class="labelled-text-view-text">{{event_name}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="labelled-text-view-label">Description</p>
                    </td>
                    <td>
                        <p class="labelled-text-view-text">{{event_descr}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="labelled-text-view-label">Location</p>
                    </td>
                    <td>
                        <span class="labelled-text-view-text">{{event_addr_street}}</span>
                        <br>
                        <span class="labelled-text-view-text">{{event_addr_street_2}}</span>
                        <br>
                        <span class="labelled-text-view-text">{{event_addr_city}}</span>
                        <br>
                        <span class="labelled-text-view-text">{{event_addr_state + " " + event_addr_postcode}}</span>
                        <br>
                        <span class="labelled-text-view-text">{{event_addr_country}}</span>
                    </td>
                </tr>
            </table>
        </div> -->
        <br/>



        <h2>Your Availablity</h2>
        <hr>

        <div id="availablity">
            <p class="text-align-center"> Add your availablity for the event.</p>

            <div style="width: 320px; margin: auto;">
                <table>
                    <tr>
                        <td></td>
                        <td>&nbsp &nbsp Available &nbsp &nbsp</td>
                        <td>&nbsp Unavailable &nbsp</td>
                    </tr>
                    <tr>
                        <td>&nbsp<b>Key</b>&nbsp</td>
                        <td class="time-cell selected"></td>
                        <td class="time-cell"></td>
                    </tr>
                </table>
            </div>
            <br/>

            <!-- <div class="flex-container-time"> -->
              <!-- <div class="flex-threequarters"> -->

                <table class="time-table">
                    <tr>
                        <td> </td>
                        <td class="time-day" v-for="col in times_data[0]">
                            <p>{{col.day}}</p>
                        </td>
                    </tr>

                    <tr v-for="(row,i) in times_data">
                        <td class="time-time">{{row[0].time}}</td>
                        <td v-for="(cell,j) in row" class="time-cell" v-bind:class="{selected: cell.selected}" v-on:click="onClickSelect(i,j)"></td>
                    </tr>

                </table>
                <!-- </div> -->

              <!-- <div class="flex-quarter">
                <table>
                    <tr>
                        <td class="time-explain selected"> </td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td class="time-explain"> </td>
                        <td>Unavailable</td>
                    </tr>
                </table>
            </div> -->
           <!-- </div> -->
       </div>
       <br/>

       <h2>Your Details</h2>
       <hr>

       <div id="details">
        <div class="labelled-text-entry">
            <label for="username" class="labelled-text-entry-label">Name</label>
            <input type="text" class="labelled-text-entry-input" name="username" v-model="guest_name" v-bind:disabled="disabled"/>
        </div>
        <div class="labelled-text-entry">
            <label for="email" class="labelled-text-entry-label">Email</label>
            <input type="email" class="labelled-text-entry-input" name="email" v-model="guest_email" v-bind:disabled="disabled"/>
        </div>
       </div>

       <br>
       <div class="text-align-center">{{add_avail_message}}</div>
        <div class="text-align-right">
            <button class="btn-save" v-on:click="onClickSave" v-bind:disabled="disabled">Save</button>
        </div>
    </main>

    <footer></footer>

</body>

</html>